@page "/"

@*<Blazor.AdminLte.PageTitle>HomePage:Coming Soon </Blazor.AdminLte.PageTitle>
*@

<div >
    <div >
        <h1>Aprajita Retails</h1>
    </div>
    <div>
        <p>
         <h3>Welcome to your new app.</h3>
        <H2> Coming Soon</H2>
        </p>
    </div>
</div>
