@page
@model MernGen.Pages.AutoGen.MainPageModel
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">Auto Generate MERN Stack</h1>
    <form>
        <div className="form-controls row">
            <div className="form col-md-4">
                Project Name
                <input type="text" />
            </div>
            <div className="form col-md-4">
                Author Name
                <input type="text" />
            </div>
            <div className="form col-md-4">
                LIC Type ("like MIT")
                <input type="text" />
            </div>
        </div>

        <div className="form-controls row">

            <div className="form col-md-4">
            Project Name
            <input type="text" />
        </div>
        <div className="form col-md-4">
            Author Name
            <input type="text" />
        </div>
        <div className="form col-md-4">
            LIC Type ("like MIT")
            <input type="text" />
        </div>
      </div
    </form>

</div>